html,
body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: aliceblue;
}


.title{
    font-size: 8rem;
    text-align: center;
    color: red;
    margin-bottom: 2rem;
}
.cards{
    color: blue;
    align-items: center;
}


.btn{
    font-size: 3rem;
    align-items: center;
}

.textbox{
    font-size: 2rem;
    align-items: center;
}

.insert{
    font-size: 3rem;
    align-items: center;
}

.card{
    font-size: 6rem;
    text-align: center;
    flex-wrap: wrap;
}

